.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  overflow: auto;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: #ffc0cb;
    color: black;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.event {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.delete-event-btn {
  cursor: pointer;
  border: none;
  position: absolute;
  right: -20%;
  bottom: -5%;
}
