.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  // padding: 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;

  &__title {
    width: 100%;
    overflow-wrap: break-word;
    margin-bottom: 8px;
  }

  &__description {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    font-size: 13px;
    border-top: 0.5px solid;
  }

  &:hover {
    background-color: #ffc0cb;
    color: black;
    cursor: pointer;
  }

  &.fade-out {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.event-information {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  overflow: auto;
  padding: 8px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
  position: absolute;
  right: -20px;
  bottom: -30px;
  padding: 10px;
  border-radius: 50px;
  background-color: hsl(183, 77%, 74%);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;

  .event:hover & {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover {
    background-color: hsl(183, 77%, 64%);
  }
}
